<h1>Book Details Result</h1>

<hr>

<div class="book-details">
    <p> Title: {{this.title}}</p>
    <p> Author: {{this.author}} </p>
    <p> Description: {{this.description}}</p>
    <p> Rating: {{this.rating}} </p>
  </div>