body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

label, input, textarea{
  display: block;
  margin: 1rem 0;

}

form {
  margin: 1rem auto;
}
.book-summary{
  border: 1px solid #656;
  margin: 1rem auto;
  padding: 10px;
}